In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\SIDDHARTH\Downloads\archive\delhi_aqi.csv")
df.head()

,date,co,no,no2,o3,so2,pm2_5,pm10,nh3
0,2020-11-25 01:00:00,2616.88,2.18,70.60,13.59,38.62,364.61,411.73,28.63
1,2020-11-25 02:00:00,3631.59,23.25,89.11,0.33,54.36,420.96,486.21,41.04
2,2020-11-25 03:00:00,4539.49,52.75,100.08,1.11,68.67,463.68,541.95,49.14
3,2020-11-25 04:00:00,4539.49,50.96,111.04,6.44,78.20,454.81,534.00,48.13
4,2020-11-25 05:00:00,4379.27,42.92,117.90,17.17,87.74,448.14,529.19,46.61

In [3]:
df.shape

(18776, 9)

In [4]:
df.isna().sum()

date     0
co       0
no       0
no2      0
o3       0
so2      0
pm2_5    0
pm10     0
nh3      0
dtype: int64

In [5]:
breakpoints = {
    'pm2_5': [
        {"bp_low": 0, "bp_high": 30, "aqi_low": 0, "aqi_high": 50},
        {"bp_low": 31, "bp_high": 60, "aqi_low": 51, "aqi_high": 100},
        {"bp_low": 61, "bp_high": 90, "aqi_low": 101, "aqi_high": 200},
        {"bp_low": 91, "bp_high": 120, "aqi_low": 201, "aqi_high": 300},
        {"bp_low": 121, "bp_high": 250, "aqi_low": 301, "aqi_high": 400},
        {"bp_low": 251, "bp_high": 500, "aqi_low": 401, "aqi_high": 500},
    ],
    'pm10': [
        {"bp_low": 0, "bp_high": 50, "aqi_low": 0, "aqi_high": 50},
        {"bp_low": 51, "bp_high": 100, "aqi_low": 51, "aqi_high": 100},
        {"bp_low": 101, "bp_high": 250, "aqi_low": 101, "aqi_high": 200},
        {"bp_low": 251, "bp_high": 350, "aqi_low": 201, "aqi_high": 300},
        {"bp_low": 351, "bp_high": 430, "aqi_low": 301, "aqi_high": 400},
        {"bp_low": 431, "bp_high": 600, "aqi_low": 401, "aqi_high": 500},
    ],
    'no2': [
        {"bp_low": 0, "bp_high": 40, "aqi_low": 0, "aqi_high": 50},
        {"bp_low": 41, "bp_high": 80, "aqi_low": 51, "aqi_high": 100},
        {"bp_low": 81, "bp_high": 180, "aqi_low": 101, "aqi_high": 200},
        {"bp_low": 181, "bp_high": 280, "aqi_low": 201, "aqi_high": 300},
        {"bp_low": 281, "bp_high": 400, "aqi_low": 301, "aqi_high": 400},
        {"bp_low": 401, "bp_high": 600, "aqi_low": 401, "aqi_high": 500},
    ],
    'o3': [
        {"bp_low": 0, "bp_high": 50, "aqi_low": 0, "aqi_high": 50},
        {"bp_low": 51, "bp_high": 100, "aqi_low": 51, "aqi_high": 100},
        {"bp_low": 101, "bp_high": 168, "aqi_low": 101, "aqi_high": 200},
        {"bp_low": 169, "bp_high": 208, "aqi_low": 201, "aqi_high": 300},
        {"bp_low": 209, "bp_high": 748, "aqi_low": 301, "aqi_high": 400},
        {"bp_low": 749, "bp_high": 1000, "aqi_low": 401, "aqi_high": 500},
    ],
    'co': [
        {"bp_low": 0, "bp_high": 1, "aqi_low": 0, "aqi_high": 50},
        {"bp_low": 1.1, "bp_high": 2, "aqi_low": 51, "aqi_high": 100},
        {"bp_low": 2.1, "bp_high": 10, "aqi_low": 101, "aqi_high": 200},
        {"bp_low": 10.1, "bp_high": 17, "aqi_low": 201, "aqi_high": 300},
        {"bp_low": 17.1, "bp_high": 34, "aqi_low": 301, "aqi_high": 400},
        {"bp_low": 34.1, "bp_high": 50, "aqi_low": 401, "aqi_high": 500},
    ],
    'so2': [
        {"bp_low": 0, "bp_high": 40, "aqi_low": 0, "aqi_high": 50},
        {"bp_low": 41, "bp_high": 80, "aqi_low": 51, "aqi_high": 100},
        {"bp_low": 81, "bp_high": 380, "aqi_low": 101, "aqi_high": 200},
        {"bp_low": 381, "bp_high": 800, "aqi_low": 201, "aqi_high": 300},
        {"bp_low": 801, "bp_high": 1600, "aqi_low": 301, "aqi_high": 400},
        {"bp_low": 1601, "bp_high": 2100, "aqi_low": 401, "aqi_high": 500},
    ],
    'nh3': [
        {"bp_low": 0, "bp_high": 200, "aqi_low": 0, "aqi_high": 50},
        {"bp_low": 201, "bp_high": 400, "aqi_low": 51, "aqi_high": 100},
        {"bp_low": 401, "bp_high": 800, "aqi_low": 101, "aqi_high": 200},
        {"bp_low": 801, "bp_high": 1200, "aqi_low": 201, "aqi_high": 300},
        {"bp_low": 1201, "bp_high": 1800, "aqi_low": 301, "aqi_high": 400},
        {"bp_low": 1801, "bp_high": 2400, "aqi_low": 401, "aqi_high": 500},
    ],
}

In [6]:
df['co'][:5]

0    2616.88
1    3631.59
2    4539.49
3    4539.49
4    4379.27
Name: co, dtype: float64

In [7]:
# Converting concentration of CO from Î¼g/m3 to mg/m3
df['co'] = df['co']/1000

In [8]:
df.head()

,date,co,no,no2,o3,so2,pm2_5,pm10,nh3
0,2020-11-25 01:00:00,2.61688,2.18,70.60,13.59,38.62,364.61,411.73,28.63
1,2020-11-25 02:00:00,3.63159,23.25,89.11,0.33,54.36,420.96,486.21,41.04
2,2020-11-25 03:00:00,4.53949,52.75,100.08,1.11,68.67,463.68,541.95,49.14
3,2020-11-25 04:00:00,4.53949,50.96,111.04,6.44,78.20,454.81,534.00,48.13
4,2020-11-25 05:00:00,4.37927,42.92,117.90,17.17,87.74,448.14,529.19,46.61

In [9]:
df.drop(['no'], axis=1, inplace=True)

In [10]:
df.head()

                  date       co     no2     o3    so2   pm2_5    pm10    nh3
0  2020-11-25 01:00:00  2.61688   70.60  13.59  38.62  364.61  411.73  28.63
1  2020-11-25 02:00:00  3.63159   89.11   0.33  54.36  420.96  486.21  41.04
2  2020-11-25 03:00:00  4.53949  100.08   1.11  68.67  463.68  541.95  49.14
3  2020-11-25 04:00:00  4.53949  111.04   6.44  78.20  454.81  534.00  48.13
4  2020-11-25 05:00:00  4.37927  117.90  17.17  87.74  448.14  529.19  46.61

In [11]:
def calculate_sub_index(value, pollutant):
    for bp in breakpoints[pollutant]:
        if bp['bp_low'] <= value <= bp['bp_high']:
            return ((bp['aqi_high']-bp['aqi_low'])/(bp['bp_high']-bp['bp_low']))*(value-bp['bp_low']) + bp['aqi_low']
    return None
        
def calculate_aqi(row):
    sub_indices = []
    for pollutant in breakpoints.keys():
        sub_index = calculate_sub_index(row[pollutant], pollutant)
        if sub_index is not None:
            sub_indices.append(sub_index)
    return max(sub_indices) if sub_indices else None

In [12]:
df['AQI'] = df.apply(calculate_aqi, axis=1)

In [13]:
df.head(30)

,date,co,no2,o3,so2,pm2_5,pm10,nh3,AQI
0,2020-11-25 01:00:00,2.61688,70.60,13.59,38.62,364.61,411.73,28.63,446.170241
1,2020-11-25 02:00:00,3.63159,89.11,0.33,54.36,420.96,486.21,41.04,468.574458
2,2020-11-25 03:00:00,4.53949,100.08,1.11,68.67,463.68,541.95,49.14,485.559518
3,2020-11-25 04:00:00,4.53949,111.04,6.44,78.20,454.81,534.00,48.13,482.032892
4,2020-11-25 05:00:00,4.37927,117.90,17.17,87.74,448.14,529.19,46.61,479.380964
5,2020-11-25 06:00:00,3.89862,117.90,40.05,101.09,437.25,511.79,42.05,475.051205
6,2020-11-25 07:00:00,1.94931,105.56,83.69,185.01,312.76,349.20,12.79,425.555181
7,2020-11-25 08:00:00,1.50871,112.41,87.98,217.44,275.53,303.47,6.59,410.752892
8,2020-11-25 09:00:00,1.36185,109.67,95.84,213.62,263.51,289.86,6.02,405.973855
9,2020-11-25 10:00:00,1.60217,93.22,104.43,152.59,271.25,302.27,12.16,409.051205
10,2020-11-25 11:00:00,2.13623,94.59,86.55,103.95,284.51,324.34,21.28,414.323253
11,2020-11-25 12:00:00,2.59018,109.67,50.78,82.02,287.83,336.00,27.87,415.643253
12,2020-11-25 13:00:00,3.01743,120.64,19.67,69.62,295.37,354.19,35.47,418.641084
13,2020-11-25 14:00:00,3.47137,117.90,3.00,65.80,325.89,402.37,46.10,430.775542
14,2020-11-25 15:00:00,3.89862,105.56,0.25,63.90,363.16,456.38,50.66,445.593735
15,2020-11-25 16:00:00,4.05884,98.71,0.08,59.61,387.52,490.96,42.05,455.279036
16,2020-11-25 17:00:00,3.89862,91.85,0.11,52.93,394.51,498.87,31.92,458.058193
17,2020-11-25 18:00:00,3.41797,83.63,0.31,42.92,369.00,461.24,20.52,447.915663
18,2020-11-25 19:00:00,2.80380,74.71,0.89,33.85,327.49,400.17,12.16,431.411687
19,2020-11-25 20:00:00,2.45667,65.80,1.40,30.99,303.81,365.32,9.63,421.996747
20,2020-11-25 21:00:00,2.26975,58.26,1.39,30.52,285.16,340.62,8.74,414.581687
21,2020-11-25 22:00:00,2.16293,53.47,0.83,30.99,272.18,320.68,7.92,409.420964
22,2020-11-25 23:00:00,2.13623,49.35,0.31,31.47,264.01,305.06,7.09,406.172651
23,2020-11-26 00:00:00,2.18964,46.61,0.07,33.38,260.05,296.45,7.28,404.598193
24,2020-11-26 01:00:00,2.48337,45.93,0.01,39.10,268.08,305.40,10.26,407.790843
25,2020-11-26 02:00:00,3.28445,51.41,0.02,53.88,309.14,359.04,17.48,424.115904
26,2020-11-26 03:00:00,3.79181,60.32,1.10,73.43,337.80,398.42,23.81,435.510843
27,2020-11-26 04:00:00,3.09753,71.29,8.58,96.32,300.52,353.24,24.83,420.688675
28,2020-11-26 05:00:00,2.64359,72.66,20.74,103.95,264.39,315.31,28.37,406.323735
29,2020-11-26 06:00:00,2.10953,67.86,33.26,108.72,208.00,253.85,26.60,367.767442

In [16]:
import os
curr_dir = os.getcwd()
data_dir = os.path.join(curr_dir, 'data')
df.to_csv(os.path.join(data_dir, 'aqi_data.csv'))